<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | <%= event.name %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="<%= event.description %>" />
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, BOOTSTRAP, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />
		<link rel="stylesheet" href="/css/details.css" />
		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>
	</head>

	<body class="details-page">
		<%- include ('../partials/header') %>

		<section class="details-intro o-hidden">
			<img
				src="/<%= event.image %>"
				alt="Image"
				class="bg-image details-intro__image"
			/>
			<div class="container layer-2 details-intro__content">
				<div
					class="row details py-6 min-vh-80 align-items-center"
					data-aos="fade-up"
				>
					<div class="col-lg-9 col-xl-8 mt-6 mb-0">
						<h5 class="details-intro__content--date">
							<%= event.date.toDateString() %>
						</h5>
						<h1 class="display-1 details-intro__content--title">
							<%= event.name %>
						</h1>
						<p class="lead mb-4">
							<i class="fa fa-map-marker-alt mr-2"></i>
							<%= event.location %>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="event-info">
			<div class="container other-details">
				<div class="event-info__content row">
					<div class="event-info__text">
						<h3 class="event-info__text--title">Description</h3>
						<p class="event-info__text--detail"><%= event.description %></p>
						<h5 class="event-info__text--date">
							<strong>
								<i class="fa fa-calendar mr-2" aria-hidden="true"></i>
								<%= event.date.toDateString() %>
								<i class="fa fa-clock mr-2 ml-2"></i>
								<%= event.start %> - <%= event.end %>
							</strong>
						</h5>
						<div class="text-muted event-payment">
							<div class="ticket">
								<% if (event.price == "free" || event.price == "Free" ||
								event.price == "FREE") { %>
								<span>This event is <%= event.price %></span>
								<% } else { %>
								<span>$<%= event.price %></span>
								<% } %>
							</div>
							<button class="btn__primary ticket-btn" type="submit">
								Book Now
							</button>
						</div>
						<% if (event.comments != "") { %>
						<h3 class="comment__heading">Comments</h3>
						<% } %> <% if (currentUser) { %>
						<form
							action="/events/<%= event._id %>/comments"
							method="POST"
							class="mt-2 comment__form"
						>
							<div class="comment-area">
								<!-- <div class="comment-bg"> -->
								<div class="avatar-img">
									<img
										src="/<%= currentUser.image %>"
										alt="user"
										class="user-avatar avatar-lg"
									/>
									<img
										src="/<%= currentUser.image %>"
										alt="user"
										class="user-avatar avatar-small"
									/>
								</div>
								<textarea
									required
									name="comment"
									id="comment"
									title="Add a comment"
									class="comment-input"
									placeholder="Add a comment..."
								></textarea>
								<!-- </div> -->

								<button class="btn btn__primary comment-btn" type="submit">
									Add
								</button>
							</div>
						</form>
						<% } %>
						<div class="mt-2">
							<% event.comments.forEach((comment) => { %>
							<div class="row">
								<div class="comment-container col-md-12">
									<strong class="comment__username"
										><%= comment.author.username %></strong
									>
									<span class="pull-right"
										><%= comment.date.toDateString() %></span
									>
									<p class="comment__text"><%= comment.comment %></p>
									<div class="container reply">
										<% if (currentUser) { %>
										<form
											action="/events/<%= event._id %>/comments/<%= comment._id %>/replies"
											method="POST"
											class="mt-2 delete-comment"
										>
											<!-- comment delete -->
											<form
												id="delete-form"
												class="delete-comment"
												action="/events/<%= event._id %>/comments/<%= comment._id %>?_method=DELETE"
												method="POST"
											>
												<input
													class="btn delete-btn"
													type="submit"
													value="Delete"
												/>
											</form>
											<div class="text-area reply-container">
												<textarea
													class="reply__input"
													required
													name="reply"
													id="reply"
													title="Type a reply"
													placeholder="reply"
												></textarea>
												<button
													class="btn btn__tertiary btn-danger reply-btn ticket-btn mt-3"
													type="submit"
												>
													Reply
												</button>
											</div>
										</form>
										<% } %>
									</div>
									<% comment.replies.forEach((reply) => { %>
									<div class="container replies">
										<div class="row">
											<div class="col-md-12">
												<strong class="comment__username"
													><%= reply.author.username %></strong
												>
												<span class="pull-right"
													><%= reply.date.toDateString() %></span
												>
												<p><%= reply.reply %></p>
											</div>
										</div>
									</div>
									<% }) %> <% if (currentUser &&
									comment.author.id.equals(currentUser._id)) { %>
									<!-- <br /> -->

									<% } %>
								</div>
							</div>
							<% })%>
						</div>
					</div>
					<div class="col-md-4 event-info__host">
						<img
							src="/<%= event.author.image %>"
							alt="user"
							class="avatar event-info__host--avatar"
						/>
						<div>
							<button class="button event-info__host--btn bg-danger">
								HOST
							</button>
							<% if (currentUser && event.author.id.equals(currentUser._id)) {
							%>
							<h6 class="event-info__host--name"><strong>You</strong></h6>
							<% } else { %>
							<h6 class="event-info__host--name">
								<strong><%= event.author.username %></strong>
							</h6>
							<% } %>
						</div>
						<span><strong>Share on socials:</strong></span>
						<div class="row justify-content-center mb-2">
							<div class="col-auto">
								<ul class="social-nav">
									<li class="nav-item">
										<a class="nav-link twitter" target="_blank">
											<img
												class="icon"
												src="/assets/icons/twitter.svg"
												alt="twitter"
												title="Share on Twiter"
											/>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link facebook" target="_blank">
											<img
												class="icon"
												src="/assets/icons/facebook.svg"
												alt="facebook"
												title="Share on Facebook"
											/>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link linkedin" target="_blank">
											<img
												class="icon"
												src="/assets/icons/linkedin.svg"
												alt="linkedin"
												title="share on linkedin"
											/>
										</a>
									</li>
									<li class="nav-item">
										<a
											class="nav-link whatsapp"
											target="_blank"
											data-action="share/whatsapp/share"
										>
											<!-- TODO change this icon to whatsapp -->
											<img
												class="icon"
												src="/assets/icons/instagram.svg"
												alt="whatsapp"
												title="share on WhatsApp"
											/>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" value="" id="myInput" />
						<button onclick="copyLink()" class="btn copy-link btn__secondary">
							Copy Link
						</button>
						<p class="copied"><strong>Link Copied</strong></p>
					</div>
				</div>
				<hr />
				<div class="mt-3">
					<h3 class="aside__heading">Other Events</h3>
					<div class="row aside">
						<% if (events == "") { %>
						<h4 class="text-center">No other events</h4>
						<% } else { %> <% const newEvents = events.filter((removeEvent) =>
						removeEvent.id !== event.id); %> <% newEvents.forEach((event) => {
						%>
						<div class="col-lg-4 col-md-6 aside__event">
							<a class="card hover-shadow-sm" href="/events/<%= event._id%>">
								<img
									src="/<%= event.image %>"
									alt="Cover Image"
									class="card-img-top aside__event--image"
								/>
								<div class="card-body aside__event--txt">
									<div class="d-flex">
										<div class="ml-3 text-primary">
											<div class="badge badge-primary mb-2 aside__location">
												<%= event.location %>
											</div>
											<h4 class="mb-2 text-dark aside__event-name">
												<%= event.name %>
											</h4>
											<small class="text-dark aside__date"
												><%= event.date.toDateString() %></small
											>
											<div class="text-small text-muted mt-3 aside__host">
												<img
													src="/<%= event.author.image %>"
													alt="user"
													class="avatar avatar-sm"
												/>
												<span class="aside__username">
													Hosted By <%= event.author.username %>
												</span>
											</div>
											<p class="aside__price"><%= event.price %></p>
											<!-- <div class="text-small text-muted mt-3">
												Click to read more...
											</div> -->
										</div>
									</div>
								</div>
							</a>
						</div>
						<% }) %> <% } %>
					</div>
				</div>
			</div>
		</section>
		<%- include ('../partials/footer') %>
		<script src="/js/details.js"></script>
		<script type="text/javascript">
			window.addEventListener('load', function () {
				document.querySelector('body').classList.add('loaded');
			});
		</script>
	</body>
</html>
