<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | Edit <%= event.name %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Host and create events online from Conferences, Hackathons, Conventions, Exhibitions, Seminars, Festivals, Trade Fair, etc."
		/>
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, BOOTSTRAP, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />

		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>

		<link
			href="/css/host-event.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
	</head>

	<body>
		<!-- Header -->
		<header class="header">
			<nav class="navbar" data-sticky="top">
				<a class="navbar__brand" href="/"> Eventrite </a>
				<div class="navbar__content">
					<!-- user nav toggle -->
					<button class="navbar__toggler" type="button">
						<!-- user image -->
						<img
							src="/<%= currentUser.image %>"
							alt="user image"
							class="avatar avatar-sm"
						/>
						<!-- Username -->
						<span class="username"><%= currentUser.username %></span>
						<!-- Arrow down caret -->
						<img
							class="icon"
							src="/assets/icons/caret-down.svg"
							alt="arrow-caret"
						/>
					</button>
					<!-- Nav Items -->
					<div class="navbar__main hidden">
						<a href="/dashboard" class="user-actions__link">
							<i class="fa fa-user mr-2" aria-hidden="true"></i>
							Profile
						</a>
						<a href="/users/logout" class="user-actions__link">
							<i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
							log Out
						</a>
					</div>
				</div>
			</nav>
		</header>
		<section class="form__container">
			<h2 class="form__heading">EDIT <%= event.name.toUpperCase() %></h2>
			<!-- Event Form -->
			<form
				class="form mt-2"
				action="/events/<%= event._id %>?_method=PUT"
				method="POST"
				enctype="multipart/form-data"
			>
				<!-- Form Inputs Container -->
				<div class="form__input--container mt-0 grid">
					<input
						type="text"
						class="form__input"
						id="name"
						name="name"
						value="<%= event.name %>"
						required
					/>
					<input
						type="number"
						id="spot"
						class="form__input"
						name="spot"
						value="<%= event.spot %>"
						required
					/>
					<input
						type="text"
						id="location"
						class="form__input"
						name="location"
						value="<%= event.location %>"
						required
					/>
					<select
						required
						name="category"
						title="select event category"
						class="form__input"
						id="category"
					>
						<option selected value="<%= event.category %>">
							<%= event.category %>
						</option>
						<option selected disabled>Select Category</option>
						<option value="speaker session">Speaker Session</option>
						<option value="networking session">Networking Session</option>
						<option value="conference">Conference</option>
						<option value="Seminar">Seminar</option>
						<option value="workshop">Workshop</option>
						<option value="sponsorship">Sponsorship</option>
						<option value="trade show">Trade Show</option>
						<option value="award and competition">Award and Competition</option>
						<option value="festival or party">Festival or Party</option>
						<option value="webinars">Webinars</option>
						<option value="product launch">Product Launch</option>
						<option value="corporate meeting">Corporate Meeting</option>
					</select>
					<textarea
						required
						name="description"
						id="description"
						class="form__input"
						title="enter event details"
					>
<%= event.description %></textarea
					>
					<input
						required
						type="date"
						name="date"
						value="<%= event.date %>"
						title="enter date"
						class="form__input"
						id="date"
					/>
					<input
						required
						type="time"
						name="start"
						value="<%= event.start %>"
						title="enter start time"
						class="form__input"
						id="start"
					/>
					<input
						required
						type="time"
						name="end"
						title="enter end time for event"
						value="<%= event.end %>"
						id="end"
						class="form__input"
					/>
					<input
						type="numeric"
						id="price"
						class="form__input"
						name="price"
						value="<%= event.price %>"
						required
					/>
					<label for="image" class="file-upload form__input">
						<input
							type="file"
							accept="image/png, image/jpg, image/gif, image/jpeg"
							id="image"
							class="file"
							name="image"
							placeholder="Avatar"
							value="<%= typeof image != 'undefined' ? image : '' %>"
						/>
						<small class="text-danger mt-2">
							<i class="fa fa-upload fa-lg mr-1" aria-hidden="true"></i>
							Upload Image
						</small>
					</label>
				</div>
				<!-- Form Action Buttons -->
				<div class="form__btn--container">
					<button class="cancel btn form__btn">
						<a href="/dashboard">Cancel</a>
					</button>

					<button class="button btn__primary form__btn" type="submit">
						Update Event
					</button>
				</div>
			</form>
		</section>

		<!-- Footer -->
		<%- include ('../partials/footer') %>
		<script>
			// Navigation Toggle
			document
				.querySelector('.navbar__toggler')
				.addEventListener('click', () => {
					document.querySelector('.navbar__main').classList.toggle('hidden');
				});
		</script>
	</body>
</html>
