<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | User Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Host and create events online from Conferences, Hackathons, Conventions, Exhibitions, Seminars, Festivals, Trade Fair, etc."
		/>
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, BOOTSTRAP, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />
		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="/css/dashboard.css" />
	</head>

	<body>
		<header class="header navbar__container">
			<nav class="navbar" data-sticky="top">
				<a class="navbar__brand" href="/"> Eventrite </a>
				<div class="navbar__content">
					
					<button
						class="navbar__toggler"
						type="button"
						aria-label="Toggle navigation"
						type="button"
						aria-expanded="false"
						aria-haspopup="true"
					>
						<img
							src="/<%= currentUser.image %>"
							alt="user"
							class="avatar avatar-sm"
						/>
						<span class="username"><%= currentUser.username %></span>
						<img
							class="icon"
							src="/assets/icons/caret-down.svg"
							alt="arrow-caret interface icon"
							data-inject-svg
						/>
					</button>
					<div class="navbar__main hidden">
						<a href="/events/host-event" class="user-actions__link">
							<i class="fa fa-plus mr-2" aria-hidden="true"></i>
							Add Event
						</a>
						<a href="/users/logout" class="user-actions__link">
							<i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
							log Out
						</a>
					</div>
				</div>
			</nav>
		</header>

		<section class="container">
			<div class="row dashboard">
				<div class="col-md-4 dashboard__nav">
					<div class="content">
						<div class="contents mb-3 dashboard__item active">
							<i class="fa fa-user fa-2xs mr-2" aria-hidden="true"></i>
							Info
						</div>
						<div class="contents dashboard__item mb-3">
							<i class="fa fa-calendar mr-2" aria-hidden="true"></i>
							Events
						</div>
						<div class="contents dashboard__item mb-3">
							<i class="fa fa-cog mr-2" aria-hidden="true"></i>
							Settings
						</div>
					</div>
				</div>
				<div class="col-md-8 dashboard__info">
					<div class="info">
						<img
							src="/<%= currentUser.image %>"
							alt="user"
							class="avatar avatar-xlg"
						/>
						<h3 class="dashboard__name"><%= currentUser.name %></h3>
						<h5 class="dashboard__username"><%= currentUser.username %></h5>
						<h5 class="dashboard__email"><%= currentUser.email %></h5>
					</div>

					<div class="events">
						<div class="grid grid-4 text-center">
							<% if (events == "") { %>
							<h3>No Hosted Event</h3>
							<% } else { %> <% events.forEach((event) => { %>
							<div class="event-item">
								<img
									class="event__image"
									src="/<%= event.image %>"
									alt="Event cover image"
								/>
								<div class="event__content">
										<span class="event__content--date"''><%= event.date.toDateString() %></span>
										<h5 class="event__content--title"><%= event.name %></h5>
										<small class="event__content--description"><%= event.description %></small>
										<a
											class="btn__tertiary event__content--details details"
											href="/events/<%= event._id%>"
											>Details</a
										>
										
										<div>
											<a href="/events/<%= event._id %>/edit-event">
												<button class="button btn__primary edit-button">
													Edit
												</button>
											</a>
											
												<a href="#myModal"><button class="button btn__secondary delete-button">Delete</button></a>
											
										</div>
								</div>
							</div>
							<div id="myModal" class="modal">
								<div class="modal-content">
									<span class="close">
										<a href="#close">×</a>
									</span>
									<h2 class="modal__text">Are you sure you want to delete?</h2>
									<div class="modal__buttons">
										<form
											action="/events/<%= event.id %>?_method=DELETE"
											method="POST"
										>
											<button class="confirm-delete btn__primary">Yes</button>
										</form>
										<button class="confirm-delete btn__secondary">
											<a href="#close">No</a>
										</button>
									</div>
								</div>
							</div>
							<% }) %> <% } %>
						</div>
					</div>

					<div class="settings">
						<h3>Settings 1</h3>
						<h3>Settings 2</h3>
						<h3>Settings 3</h3>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer" id="footer">
			<div class="footer__container">
				<article class="footer__section">
					<h4 class="footer__section--heading">how to use</h4>
					<a href="#" class="footer__section--link">how it works</a>
					<a href="#" class="footer__section--link">pricing</a>
					<a href="#" class="footer__section--link">FAQs</a>
					<a href="#" class="footer__section--link">event registration</a>
				</article>
				<article class="footer__section">
					<h4 class="footer__section--heading">plan events</h4>
					<a href="#" class="footer__section--link">sell tickets online</a>
					<a href="#" class="footer__section--link">online RSVP</a>
					<a href="#" class="footer__section--link">event planning</a>
					<a href="#" class="footer__section--link">event payment system</a>
					<a href="#" class="footer__section--link"
						>non profits & Fundraisers evenst</a
					>
				</article>
				<article class="footer__section">
					<h4 class="footer__section--heading">find events</h4>
					<a href="#" class="footer__section--link">virtual events</a>
					<a href="#" class="footer__section--link">online webinars</a>
					<a href="#" class="footer__section--link">virtual conferences</a>
					<a href="#" class="footer__section--link">seminars</a>
				</article>
				<article class="footer__section footer__social">
					<h4 class="footer__section--heading">connect with us</h4>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/instagram.svg"
							alt="instagram"
						/>
						<span class="footer__social--text">instagram</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/twitter.svg"
							alt="twitter"
						/>
						<span class="footer__social--text">twitter</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/youtube.svg"
							alt="youtube"
						/>
						<span class="footer__social--text">youtube</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/medium.svg"
							alt="medium"
						/>
						<span class="footer__social--text">medium</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/facebook.svg"
							alt="facebook"
						/>
						<span class="footer__social--text">facebook</span>
					</a>
				</article>
			</div>
			<a href="#" class="btn back-to-top" title="Back To Top">
				<img
					class="icon"
					src="/assets/icons/arrow-up-solid.svg"
					alt="back to top"
				/>
			</a>
		</footer>

		<script src="/js/dashboard.js"></script>

		<!-- Removes page load animation when window is finished loading -->
		<script type="text/javascript">
			window.addEventListener('load', function () {
				document.querySelector('body').classList.add('loaded');
			});
		</script>
	</body>
</html>
