<%- include ('./partials/header') %>

<section class="home">
	<div class="container hero">
		<h5 class="hero__date">October 18 - 19, 2022</h5>
		<h1 class="hero__title">Leap Con</h1>
		<p class="hero__description">Exhibition Center, Melbourne, Australia</p>
		<a href="#" class="btn btn__primary">Purchase Tickets</a>
	</div>
</section>

<section class="events__section">
	<h3 class="events__heading">Upcoming Events</h3>

	<div class="events__container">
		<% if (events == "") { %>
		<h4 class="events__empty">No upcoming events yet!</h4>
		<% } else { %> <% events.forEach((event) => { %>
		<div class="col-lg-4 col-md-6">
			<a class="card hover-shadow-sm" href="/events/<%= event._id%>">
				<img src="/<%= event.image %>" alt="Cover Image" class="card-img-top" />
				<div class="card-body d-flex flex-column">
					<div class="d-flex">
						<div class="ml-3 text-primary">
							<div class="badge badge-primary mb-2"><%= event.location %></div>
							<h4 class="mb-2 text-dark"><%= event.name %></h4>
							<small class="text-dark"><%= event.date.toDateString() %></small>
							<div class="text-small text-muted mt-3">
								<img
									src="/<%= event.author.image %>"
									alt="user"
									class="avatar avatar-sm"
								/>
								Hosted By <%= event.author.username %>
							</div>
							<div class="text-small text-muted mt-3">
								Click to read more...
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<% }) %> <% } %>
	</div>
	<a href="/events" class="btn btn__tertiary events__link"
		>Other Events <span class="events__arrow">&rarr;</span>
	</a>
</section>

<%- include ('./partials/footer') %>
