<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | Register</title>
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>

		<link rel="stylesheet" href="../css/register.css" />
	</head>

	<body>
		<section class="signup header">
			<div class="signup__container">
				<h3 class="navbar__brand">Eventrite</h3>
				<h1 class="signup__heading">Create Account</h1>
				<span>We are happy to have you</span>
				<%- include ('partials/messages') %>
				<form
					class="signup__form"
					action="/users/register"
					method="POST"
					enctype="multipart/form-data"
				>
					<input
						type="text"
						id="name"
						name="name"
						class="signup__form--name form__input"
						placeholder="Full Name"
						value="<%= typeof name != 'undefined' ? name : '' %>"
					/>
					<input
						type="email"
						id="email"
						name="email"
						class="signup__form--email form__input"
						placeholder="Email"
						value="<%= typeof email != 'undefined' ? email : '' %>"
					/>
					<input
						type="text"
						id="username"
						name="username"
						class="signup__form--username form__input"
						placeholder="Username"
						value="<%= typeof username != 'undefined' ? username : '' %>"
					/>
					<label for="image" class="file signup__form--avatar form__input">
						<input
							type="file"
							accept="image/png, image/jpg, image/gif, image/jpeg"
							id="image"
							name="image"
							class="file-upload"
							name="image"
							placeholder="Avatar"
							required
							value="<%= typeof image != 'undefined' ? image : '' %>"
						/>
						<small class="signup__form--label">
							<i class="fa fa-upload fa-lg mr-1" aria-hidden="true"></i>
							Upload Profile Pic
						</small>
					</label>
					<input
						type="password"
						id="password"
						name="password"
						class="signup__form--password form__input"
						placeholder="Password"
						value="<%= typeof password!= 'undefined' ? password : '' %>"
					/>
					<small class="signup__form--label psw-label"
						>Must be at least 6 characters</small
					>

					<input
						type="password"
						id="password2"
						name="password2"
						class="signup__form--password form__input"
						placeholder="Confirm Password"
						value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
					/>
					<button class="signup__form--submit btn__primary" type="submit">
						CREATE
					</button>
				</form>
				<p class="signup__form--login">
					Already have an account?
					<a class="text-danger" href="/users/login">Login</a>
				</p>
			</div>
		</section>
	</body>
</html>
